@import "tailwindcss";
@import "./form.css";
@import "./buttons.css";
@import "./tables.css";
@import "./animations.css";
@import "./filters.css";

/* fonts */
/* Supports weights 100-900 */
@import '@fontsource-variable/inter';


/* variables */
@theme {
  /* Grises principales */
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-gray-950: #0a0a0a;

  --color-thunderbird-50: #fff0f1;    
  --color-thunderbird-100: #ffdee0;
  --color-thunderbird-200: #ffc2c5;
  --color-thunderbird-300: #ff989d;
  --color-thunderbird-400: #ff5c63;
  --color-thunderbird-500: #ff2a34;
  --color-thunderbird-600: #f80a15;
  --color-thunderbird-700: #c9040d;
  --color-thunderbird-800: #ac080f;
  --color-thunderbird-900: #8e0e14;
  --color-thunderbird-950: #4e0105;

  --color-primary: var(--color-thunderbird-700);
  
  /* Grises para bordes */
  --color-border-light: var(--color-gray-200);
  --color-border-medium: var(--color-gray-300);
  --color-border-dark: var(--color-gray-400);
  
  /* Grises para texto */
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-700);
  --color-text-muted: var(--color-gray-500);
  --color-text-light: var(--color-gray-400);
  
  /* Grises para backgrounds */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: var(--color-gray-50);
  --color-bg-tertiary: var(--color-gray-100);
  --color-bg-hover: var(--color-gray-200);
}

body {
  font-family: 'InterVariable Variable', sans-serif;
}

@media print {
  .no-print {
    display: none;
  }
}